<div class="container">
    <h1>Add Task</h1>
    <form>
        <!-- name -->
        <div class="mb-3">
          <label class="form-label">Task Name</label>
          <input type="text" class="form-control">
        </div>

        <!-- description -->
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control">
        </div>
        
        <!-- userId -->
        <div class="mb-3">
          <label class="form-label">User Id</label>
          <input type="text" class="form-control">
        </div>
        
        <!-- priority -->
        <select class="form-select mb-3">
            <option selected>Priority</option>
            <option value="critical">Critical</option>
            <option value="high">High</option>
            <option value="normal">Normal</option>
            <option value="low">Low</option>
        </select>

        <!-- type -->
        <select class="form-select mb-3">
            <option selected>Type</option>
            <option value="bug">Bug</option>
            <option value="implementation">Implementation</option>
        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>